.jumbotron-title {
  font-size: 3.25rem;
  line-height: 3.5rem;
  font-weight: 400;
  color: #fbfefd;
  margin-bottom: 1rem;
  max-width: 600px;
}

.jumbotron-title strong {
  font-weight: 700;
  /* color: #40fd8f; */
}

@media (min-width: 640px) {
  .jumbotron-title {
    font-size: 3rem;
    line-height: 1;
  }
}

@media (min-width: 768px) {
  .jumbotron-title {
    font-size: 3.75rem;
    line-height: 1;
  }
}

.text-show {
  opacity: 1;
  transition: all 0.3s ease;
}

.text-fade {
  opacity: 0;
  transition: all 0.3s ease;
}
